/* .swiper--wrapper {
  width: 100%;
  height: 300px;
}

.swiper  {
  color: #ffffff;
  width: 600px;
  height: 100px;
  text-align: center;
  line-height: 300px;
  font-size: 10px;
}

.swiper-slide:nth-child(3n + 1) {
  background-color: #de4439;
}

.swiper-slide:nth-child(3n + 2) {
  background-color: #fcd500;
}

.swiper-slide:nth-child(3n + 3) {
  background-color: #53c638;
}

.swiper-button-prev:after,
.swiper-button-next:after {
 display: none;
}

*/

.buttonNext{
  color: red;
  background-color: blue;
}

.custom_bullet {
  background: white;
  opacity: 0.5;
  color: red;
} 

.custom_bullet_active {
  background: white;
  opacity: 1;
} 

/*  */
